<!-- adduser.html -->

<!DOCTYPE html>
{% load static %}
{% include 'AdminNavBar1.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" href="{% static 'css/adduser.css' %}"> <!-- Add your CSS file link -->
</head>
<body class="add-user">

<div class="user-container">
    <h1>Add User</h1>

    <form method="post" action="{% url 'add_user' %}">
        {% csrf_token %}

        <label for="username">Username:</label>
        <input type="text" name="username" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br>

        <input type="submit" value="Add User">
    </form>

</div>

</body>
</html>
