<!-- main.html -->
<!DOCTYPE html>
{% load static %}
{% include 'AdminNavBar1.html'%}
<html lang="en">
<head>
    <!-- Bootstrap CSS link -->

    <!-- Your custom CSS file -->
    <link rel="stylesheet" href="{% static 'css/adminDash.css' %}">
</head>
<body>
ge.py
<div class="main-container">
    <h1 class="display-4" style="margin-left: 500px ;margin-top:200px   ">Welcome to the Admin Dashboard</h1>



</div>

<!-- Bootstrap JS and Popper.js (Optional, but may be required for some Bootstrap features) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
