{% include 'NavBar1.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/trackTickets.css' %}">

</head>
<body>
    <section id="Trackticket">
        <h2>Bus Ticket Search</h2>
        <form action="#" method="">
            <label for="Bid">Booking ID</label>
            <input type="text" id="Bid" name="from" required>
            <button type="submit">Search</button>
        </form>
    </section>
</body>
</html>
